


html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}

a img {border:none;}

/* typography.css */
body {font-size:75%;color:#999;background:#fff;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#999;}
h1 {font-size:4em;line-height:1;margin-bottom:0.5em; color:#6d6f72; }
h2 {font-size:3em;margin-bottom:0.15em;}
h3 {font-size:2em;line-height:1.35; margin-bottom:1em;}
h4 {font-size:1.5em;line-height:1.25; text-transform: uppercase;}
h5 {font-size:1.15em; margin-top:1em; font-weight:bold; text-transform: uppercase; color:#bbbbbb;}
h6 {font-size:1em;font-weight:bold;}


/* grid.css */
.container {width:994px;margin:0 auto;}


div.span-1, div.span-2, div.span-3, div.span-4, div.span-5, div.span-6, div.span-7, div.span-8, div.span-9, div.span-10, div.span-11, div.span-12 {float:left;margin-right: 14px;}

div.last {margin-right:0;}
.span-1  { width: 70px;}
.span-2  { width: 154px;}
.span-3  { width: 238px;}
.span-4  { width: 322px;}
.span-5  { width: 406px;}
.span-6  { width: 450px;}
.span-7  { width: 574px;}
.span-8  { width: 658px;}
.span-9  { width: 742px;}
.span-10 { width: 826px;}
.span-11 { width: 910px;}
.span-12, div.span-12 { width: 994px; margin: 0; }

div.border{padding-right:6px;margin-right:7px;border-right:1px solid #eee;}
div.colborder { padding-right:64px;margin-right:63px;border-right:1px solid #eee;}

.push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12 {float:right;position:relative;}

.box {padding:1.5em;margin-bottom:1.5em;}
hr {background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:.1em;margin:0 0 1.45em;border:none;}
hr.space {background:#fff;color:#fff;}
.clearfix:after, .container:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix, .container {display:inline-block;}
* html .clearfix, * html .container {height:1%;}
.clearfix, .container {display:block;}
.clear {clear:both;}




  
body {
  margin: 1.5em 0 3em 0;
}
  


h1, h2{
letter-spacing: -1px;
font-weight: bold;
}



h1 {
margin-top: 180px;
margin-bottom: 5px;
font-size: 3.75em;
letter-spacing: -1.5px;
}

h3 em {
color: #46AEFF;
font-style:normal;
}

a:link, a:visited {
text-decoration: none;
font-weight: bold;
color: #fb4f14;

}

a:hover, a:active {
text-decoration: none;
color: #46aeff !important;
}


a.activeLink, a.active {
color: #46AEFF !important;
}

#mission {
background: #252525;

}

#mission h3 {
color: #888;
padding-top: .5em;
/*letter-spacing: -1px;*/
font-size: 1.75em;
letter-spacing: -0.035em;
line-height: 1.5em;
}

.yellow {
color: #333;
padding: 2px;
background: #ffee4b;
}

#homeOptions {
margin-top: 2em;

}

#homeOptions h4 {
margin-top: 10px;
}

#homeOptions p {
font-weight: bold;
text-transform: uppercase;
color:#bbbbbb;
margin: 0 0 5px 0;
}

#homeOptions p strong {
color: #999;
}

.quarter {
margin-top: 2.35em;
margin-bottom: 1.5em;
}

.quarter h3 {
line-height: 1em;
margin-bottom: .35em;
letter-spacing: -.05em;
overflow:hidden;
}

.quarter h3 a:link, .quarter h3 a:visited {
color: #999;
}

.quarter h3 a:hover {
color: #fb4f14 !important;
}

.quarter ul {
border-top: 10px solid #EEE;
margin: 0;
list-style-type: none;
}

.quarter ul li {
padding: .75em;
}


.quarter ul li:hover {
background: #EEE;
}

#footer {
background: #EEE;
padding: 2em 0 1em 0;
text-align: center;
font-weight: bold;
color: #BBB;
margin-top: 15px;
}


.right {
text-align: right;
}

.left {
text-align: left;
}


/* Content View Styles */

.title {
	margin-top: 155px;
}

#teaser p, #homeSlide p, #homeSlide p a, #homeSlide a:hover {
	font-size: 1.65em;
	font-weight:bold;
	letter-spacing:-.035em;
	color:#BBB;
	margin-left:0;
	line-height: 1.25em;
}

#homeSlide p {
	width:300px;
}
#homeSlide {
	height:400px;
}

.floatRight {
float:right;
width: auto;
padding: 2px;
}


#homeHeader img {
margin-top: 20px;
width: 320px;
}



#redTemp {
background-color: #000;
padding: 5px 0 0 0;
color: white;
margin-top: -20px;
font-weight: bold;
font-size: 1.15em;
display: block;
height: 25px;
text-align: right;
}

#redTemp a {
background color: white;
color: #FB4F14;
padding: 1px 3px;
}

#redTemp a:hover {
background: #FB4F14;
color: #FFF !important;
}

#redTemp em {
color: #DDD;
}


